{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        cljfx/cljfx {:mvn/version "1.7.18"}
        com.jsyn/jsyn {:mvn/version "20170815"}}
 :aliases {:project/run {:main-opts ["-m" "notebox.core"]}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "dist/notebox.jar"]}}}